.list-view .list-cell:even {
-fx-background-color: white;
-fx-text-fill: black;

}
.list-view .list-cell:odd {
-fx-background-color: white;
-fx-text-fill: black;
}
.list-view .list-cell:filled:selected {
    -fx-text-fill: red;
    -fx-background-color: black;
    -fx-label-padding: 20 20 20 20;
}
.back{
    -fx-background-image: url("Blue-wavy-nice-background.jpg");
}

